doctype html
html(lang="de")
    head
        meta(charset='utf-8')
        
        //- Title and Description
        title Neues Passwort für den Sentinel 
        meta(name='description', content='Setzen sie hier Ihr neues Passwort für den Sentinel!')

        //- Favicon
        link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="/favicon.svg")
        link(rel="shortcut icon" href="/favicon.ico")

        meta(name="theme-color", content="#ffffff")
        
        //- Screen
        meta(name='viewport', content='width=device-width, initial-scale=1.0')



        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
