//- Preloader Mixin =========================================
mixin preloader(id, type)
    .preloader(id=id class=type)
        .preloader-element-1
        .preloader-element-2
        .preloader-element-3
        .preloader-element-4
