include ../preloadermodule/preloader-mixins.pug

#preloader-demo
    +preloader("dots", "dots")
    +preloader("spinner.1", "spinner-1")
    +preloader("spinner-2", "spinner-2")
    +preloader("squares", "squares")
    +preloader("circles", "circles")

    