//- noaccount structure
form#passwordset-form
        //- h1 Guten Tag!
        h1 Sehr geehrter Sentinelit
        p Unter Angabe der dazugehörigen Emailadresse können Sie hier ein neues Passwort für Ihren Account setzen:
        label(for="email-input") Ihre Emailadresse:
        input#email-input(type="email" required placeholder="max.mustermann@sentinel.de")
        label(for="password-input") Ihr neues Passwort:
        input#password-input(type="password" required placeholder="**********")
        button#confirmation-button.click-button(type="submit") Abschicken

#successfeedback
    h2.good Geschafft!
    #success-check: svg: use(href="#svg-success-icon")
    p Ihr neues Passwort <b>wurde gesetzt!</b><br>Wir Wünschen Ihnen viel Erfolg! 
    p: a#sentinel-dashboard-link(href="") &#8618; Zum Sentinel Dashboard

#errorfeedback
    h2.warning Achtung!
    p Das Passwort <b>konnte nicht gesetzt werden!</b><br>Es könnte an folgenden Ursachen liegen: 
    ul
        li Ihre angegebene <b>Emailadresse stimmt nicht überein.</b>
        li Der <b>Link ist ungültig.</b> (Er ist maximal 10 Minuten lang gültig und nur einmalig verwendbar.)

    p Versichern Sie sich, dass die angegebene Emailadresse korrekt ist, holen Sie sich einen neuen Link zum setzen Ihres Passworts und versuchen Sie es erneut.
    p: a#sentinel-dashboard-link(href="") &#8618; Zum Sentinel Dashboard

